table{
    height: 400px;
    width: 400px;
    margin-top: 70px;
    margin-left: 400px;
    text-align: center;
    font-size: 35px;
}

.usrnm{
    margin-left: 300px;
    margin-top: 70px;
}

label{
    font-size: 20px;
}

.result{
    font-size: 25px;
    color: red;
    margin-left: 450px;
}

.newGm{
    margin-left: 500px;
    font-size: 20px;
}

td{
    width: 100px;
    height: 100px;
}
.ver{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hor{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.ver-hor{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
