body{
    background-color: #F3F3F3 !important;
}

table{
    /* position: relative; */
    margin-left: 20%;
}

@media(min-width: 250px){
    .card{
        width: 100% !important;
    }
    table{
        height: 200px;
        width: 200px;
    }
    td{
        font-size: 15px;
        width: 15px;
    }
}

@media(min-width: 768px){
    table{
        height: 200px;
        width: 200px;
    }
    td{
        font-size: 15px;
        width: 15px;
    }
}
@media(min-width: 992px){
    table{
        height: 300px;
        width: 300px;
    }
    td{
        font-size: 25px;
        width: 25px;
    }
}

td{
    text-align: center;
    /* font-size: 5%; */
}
.ver{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hor{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.ver-hor{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#result{
    color:green;
}